<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-da-burger</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>

	<body>
		<h1>Eat-da-Burger</h1>

		<input id="burgerInput" placeholder="burger u want"></input>
		<button id="submit">submit</button>

		{{{ body }}}

		

	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/script.js"></script>
	</body>
</html>
